body{
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto 1fr;
    grid-area: 
    "header header"
    "main aside"
    "footer footer";
}