* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
  font-family: "Merriweather", serif;
}
.header {
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header img {
  width: 120px;
}
.header nav {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}
.header nav a {
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  text-transform: uppercase;
  color: #3a301b;
}
.main {
  grid-area: main;
}
.hero {
  background-image: url("images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.hero h1 {
  padding: 5% 0;
  font-size: 3rem;
  color:#3a301b;
}
.hero p {
  padding-bottom: 5%;
  line-height: 25px;
  color:#3a301b;
}
.hero button {
  margin-left: 25%;
  padding: 3% 7%;
  border: 1px solid #3a301b;
  border-radius: 10px;
  color: #3a301b;
  font-size: 18px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.services{
    padding: 10% 3%;
    color:#3a301b;
    text-align: center;
    background-color: #F0E9D1;
}
.service-content h2{
    margin-bottom: 3%;
    font-size: 2rem;
}
.service-content p{
    margin: 3% 10%;
}
.service-content a{
    color:#3a301b;
}
.service-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap:1%;
    margin-top: 3%;
}
.card{
    text-align: center;
    margin: 2% 0;
    padding: 2% 0;
    color:#ffffff;
    background-color: #3a301b;
}
.card h3{
    padding: 3% 0;
}
.card p{
    margin:3%;
}
.card img{
    width: 25rem;
    height: 20rem;
    align-self: center;
}
.about{
    padding: 10%;
    text-align: center;
    background-color: #3a301b;
    color:#ffffff;
}
.about h2{
    margin-bottom: 5%;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5%;
    text-align: left;
}
.about-content img{
    width:25rem;
}
.aside {
  grid-area: aside;
}
.footer {
  grid-area: footer;
}
